* {
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5rem;
}

.content {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.login-form {
    margin-top: 2em;
    background-color: #222222;
    padding: 2em;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.login-form form {
    display: grid;
    grid-template-columns: 1fr;
}

.login-form form p {
    margin: 0;
    padding: 1em;
}

.login-form form button,
.login-form form input {
    width: 100%;
    padding: .7rem;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid #D63031;
    color: #fff;
}

.login-form form button {
    background-color: #b70e21;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.login-form form button:hover,
.login-form form button:focus {
    background-color: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* SMALL SCREEN */
@media (max-width: 500px) {
    .login-form form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .content {
        width: 300px;
    }

    body {
        padding: 0;
    }
}